  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .unauthenticated-ui,
  .authenticated-ui {
    display: none;
  }

  /* Wide Screen */
  .channel-list {
    width: 20%;
    border-right: 1px solid #dddd;
    padding: 20px;
    background-color: #fdfcfe;
  }
  
  .channel-list h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .channel-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .channel-list li {
    margin-bottom: 5px;
  }
  
  .messages {
    flex: 1;
    padding: 20px;
  }
  
  .messages h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .message-list {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .message-input {
    margin-top: 20px;
  }
  
  #messageInput {
    width: 70%;
    padding: 10px;
  }

  .replies-pane {
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
}

#dismiss-replies {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#sendMessageBtn {
  width: 20%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#sendMessageBtn:hover {
  background-color: #45a049;
}

#createChannelBtn {
  padding: 10px;
  background-color: #337ab7;
  color: white;
  border: none;
  cursor: pointer;
}

#createChannelBtn:hover {
  background-color: #286090;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .channel-list {
        width: 100%;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .message-area {
        width: 100%;
    }

    .replies-pane {
        width: 100%;
    }

    /* Additional Styles for Narrow Screens */
    #channel-list li {
        text-align: center;
    }

    #dismiss-replies {
        width: 100%;
    }
}
  
